.section-login {
   background: #F7FBFE;
   background: linear-gradient(90deg, rgba(247, 251, 254, 1) 9%, rgba(109, 177, 239, 1) 100%);
}

.bg_login {
   background: url(../img/bg-login.png);
   background-size: cover;
   min-height: 100%;
   width: 100%;
   background-position: top;
   border-top-left-radius: 2rem;
   border-bottom-left-radius: 2rem;
}